name: CI checks

on:
  push:
    branches: [ "peinlcy/test", "dev/pierre" ]
  pull_request:
    branches: [ "peinlcy/test", "dev/pierre" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: check
        run:
          cargo check --all-features
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
